.Login{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #E9F9FF;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('Login.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    border-radius: 25px;
    padding: 2vw;
    width: 35vw;
    min-height: 25vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.cross{
    display: flex;
    justify-content: right;
}
.cross img{
    width: 20px;
}
.cross img:hover{
    cursor: pointer;
}
.login-card input{
    margin: 1vw 0 1vw 0;
    padding: 1vw;
    border: black 1px solid;
    border-radius: 5px;
}
.login-card button{
    margin: 1vw 0 1vw 0;
    padding: 1vw;
    border: #E9F9FF 1px solid;
    border-radius: 20px;
    background-color:#4274EA;
    color: white
}
.login-card button:hover{
    cursor: pointer;
    background-color: #E1F7FF;
    color: #4274EA;
    transition: 0.8;
}